In [2]:
import pandas as pd

In [3]:
health_spending = pd.read_csv("resources\health_spending.csv")

In [4]:
health_table = pd.merge(health_spending[["LOCATION","TIME"]].groupby("LOCATION").max().reset_index(),health_spending, how="left", left_on=["LOCATION","TIME"], right_on=["LOCATION","TIME"])

In [5]:
health_spending_data = health_table[(health_table["SUBJECT"]=="TOT") & (health_table["MEASURE"]=="USD_CAP")].reset_index().drop(["index","Flag Codes"], axis=1)

In [6]:
health_spending_data

   LOCATION  TIME  INDICATOR SUBJECT  MEASURE FREQUENCY         Value
0       AUS  2019  HEALTHEXP     TOT  USD_CAP         A   5187.419000
1       AUT  2019  HEALTHEXP     TOT  USD_CAP         A   5851.055000
2       BEL  2019  HEALTHEXP     TOT  USD_CAP         A   5427.957000
3       BGR  2019  HEALTHEXP     TOT  USD_CAP         A   1996.441000
4       CAN  2019  HEALTHEXP     TOT  USD_CAP         A   5418.383000
5       CHE  2019  HEALTHEXP     TOT  USD_CAP         A   7732.412000
6       CHL  2019  HEALTHEXP     TOT  USD_CAP         A   2159.354000
7       COL  2019  HEALTHEXP     TOT  USD_CAP         A   1212.604000
8       CRI  2018  HEALTHEXP     TOT  USD_CAP         A   1486.328000
9       CYP  2019  HEALTHEXP     TOT  USD_CAP         A   2790.266000
10      CZE  2019  HEALTHEXP     TOT  USD_CAP         A   3426.039000
11      DEU  2019  HEALTHEXP     TOT  USD_CAP         A   6645.757000
12      DNK  2019  HEALTHEXP     TOT  USD_CAP         A   5567.899000
13      ESP  2019  HEALTHEXP     TOT  USD_CAP         A   3616.459000
14      EST  2019  HEALTHEXP     TOT  USD_CAP         A   2578.793000
15      FIN  2019  HEALTHEXP     TOT  USD_CAP         A   4578.420000
16      FRA  2019  HEALTHEXP     TOT  USD_CAP         A   5375.699000
17      GBR  2019  HEALTHEXP     TOT  USD_CAP         A   4653.058000
18      GRC  2019  HEALTHEXP     TOT  USD_CAP         A   2383.628000
19      HRV  2019  HEALTHEXP     TOT  USD_CAP         A   2007.899000
20      HUN  2019  HEALTHEXP     TOT  USD_CAP         A   2222.426000
21      IRL  2019  HEALTHEXP     TOT  USD_CAP         A   5275.543000
22      ISL  2019  HEALTHEXP     TOT  USD_CAP         A   4811.424000
23      ISR  2019  HEALTHEXP     TOT  USD_CAP         A   2932.461000
24      ITA  2019  HEALTHEXP     TOT  USD_CAP         A   3649.206000
25      JPN  2019  HEALTHEXP     TOT  USD_CAP         A   4822.812000
26      KOR  2019  HEALTHEXP     TOT  USD_CAP         A   3384.158000
27      LTU  2019  HEALTHEXP     TOT  USD_CAP         A   2638.133000
28      LUX  2019  HEALTHEXP     TOT  USD_CAP         A   5558.322000
29      LVA  2019  HEALTHEXP     TOT  USD_CAP         A   1972.572000
30      MEX  2019  HEALTHEXP     TOT  USD_CAP         A   1153.581000
31      MKD  2017  HEALTHEXP     TOT  USD_CAP         A    942.399000
32      MLT  2019  HEALTHEXP     TOT  USD_CAP         A   4328.751000
33      NLD  2019  HEALTHEXP     TOT  USD_CAP         A   5765.098000
34      NOR  2019  HEALTHEXP     TOT  USD_CAP         A   6646.713000
35      NZL  2019  HEALTHEXP     TOT  USD_CAP         A   4203.989000
36     OAVG  2019  HEALTHEXP     TOT  USD_CAP         A   4224.144054
37      POL  2019  HEALTHEXP     TOT  USD_CAP         A   2292.146000
38      PRT  2019  HEALTHEXP     TOT  USD_CAP         A   3378.627000
39      ROU  2019  HEALTHEXP     TOT  USD_CAP         A   1906.810000
40      RUS  2017  HEALTHEXP     TOT  USD_CAP         A   1528.777000
41      SVK  2019  HEALTHEXP     TOT  USD_CAP         A   2353.645000
42      SVN  2019  HEALTHEXP     TOT  USD_CAP         A   3224.020000
43      SWE  2019  HEALTHEXP     TOT  USD_CAP         A   5782.292000
44      TUR  2019  HEALTHEXP     TOT  USD_CAP         A   1339.511000
45      USA  2019  HEALTHEXP     TOT  USD_CAP         A  11071.715000
46      ZAF  2017  HEALTHEXP     TOT  USD_CAP         A   1072.354000

In [7]:
hospital_bed = pd.read_csv("resources\hospital_bed.csv")

In [8]:
hos_bed_table = pd.merge(hospital_bed[["LOCATION","TIME"]].groupby("LOCATION").max().reset_index(),hospital_bed, how="left", left_on=["LOCATION","TIME"], right_on=["LOCATION","TIME"])

In [9]:
hospital_bed_data = hos_bed_table[hos_bed_table["SUBJECT"]=="TOT"].reset_index().drop(["index","Flag Codes"], axis=1)

In [10]:
hospital_bed_data

   LOCATION  TIME    INDICATOR SUBJECT  MEASURE FREQUENCY  Value
0       AUS  2016  HOSPITALBED     TOT  1000HAB         A   3.84
1       AUT  2018  HOSPITALBED     TOT  1000HAB         A   7.27
2       BEL  2019  HOSPITALBED     TOT  1000HAB         A   5.58
3       BRA  2012  HOSPITALBED     TOT  1000HAB         A   2.30
4       CAN  2019  HOSPITALBED     TOT  1000HAB         A   2.52
5       CHE  2018  HOSPITALBED     TOT  1000HAB         A   4.63
6       CHL  2018  HOSPITALBED     TOT  1000HAB         A   2.06
7       CHN  2017  HOSPITALBED     TOT  1000HAB         A   4.31
8       COL  2018  HOSPITALBED     TOT  1000HAB         A   1.71
9       CRI  2019  HOSPITALBED     TOT  1000HAB         A   1.10
10      CZE  2018  HOSPITALBED     TOT  1000HAB         A   6.62
11      DEU  2017  HOSPITALBED     TOT  1000HAB         A   8.00
12      DNK  2019  HOSPITALBED     TOT  1000HAB         A   2.60
13      ESP  2018  HOSPITALBED     TOT  1000HAB         A   2.97
14      EST  2018  HOSPITALBED     TOT  1000HAB         A   4.57
15      FIN  2018  HOSPITALBED     TOT  1000HAB         A   3.61
16      FRA  2018  HOSPITALBED     TOT  1000HAB         A   5.91
17      GBR  2019  HOSPITALBED     TOT  1000HAB         A   2.46
18      GRC  2018  HOSPITALBED     TOT  1000HAB         A   4.20
19      HUN  2018  HOSPITALBED     TOT  1000HAB         A   7.01
20      IDN  2017  HOSPITALBED     TOT  1000HAB         A   1.04
21      IND  2017  HOSPITALBED     TOT  1000HAB         A   0.53
22      IRL  2018  HOSPITALBED     TOT  1000HAB         A   2.97
23      ISL  2019  HOSPITALBED     TOT  1000HAB         A   2.83
24      ISR  2018  HOSPITALBED     TOT  1000HAB         A   2.98
25      ITA  2018  HOSPITALBED     TOT  1000HAB         A   3.14
26      JPN  2018  HOSPITALBED     TOT  1000HAB         A  12.98
27      KOR  2018  HOSPITALBED     TOT  1000HAB         A  12.43
28      LTU  2018  HOSPITALBED     TOT  1000HAB         A   6.43
29      LUX  2019  HOSPITALBED     TOT  1000HAB         A   4.26
30      LVA  2018  HOSPITALBED     TOT  1000HAB         A   5.49
31      MEX  2018  HOSPITALBED     TOT  1000HAB         A   0.98
32      NLD  2018  HOSPITALBED     TOT  1000HAB         A   3.17
33      NOR  2018  HOSPITALBED     TOT  1000HAB         A   3.53
34      NZL  2019  HOSPITALBED     TOT  1000HAB         A   2.57
35      POL  2018  HOSPITALBED     TOT  1000HAB         A   6.54
36      PRT  2018  HOSPITALBED     TOT  1000HAB         A   3.45
37      RUS  2018  HOSPITALBED     TOT  1000HAB         A   7.12
38      SVK  2018  HOSPITALBED     TOT  1000HAB         A   5.70
39      SVN  2018  HOSPITALBED     TOT  1000HAB         A   4.43
40      SWE  2018  HOSPITALBED     TOT  1000HAB         A   2.14
41      TUR  2018  HOSPITALBED     TOT  1000HAB         A   2.85
42      USA  2017  HOSPITALBED     TOT  1000HAB         A   2.87
43      ZAF  2010  HOSPITALBED     TOT  1000HAB         A   2.30

In [11]:
hospital_stay = pd.read_csv("resources\hospital_stay_length.csv")

In [12]:
hos_stay_table = pd.merge(hospital_stay[hospital_stay["SUBJECT"]=="ACUTE"][["LOCATION","TIME"]].groupby("LOCATION").max().reset_index(),hospital_stay, how="left", left_on=["LOCATION","TIME"], right_on=["LOCATION","TIME"])

In [13]:
hos_stay_table

,LOCATION,TIME,INDICATOR,SUBJECT,MEASURE,FREQUENCY,Value,Flag Codes
0,AUS,2017,HOSPITALSTAY,ACUTE,DAY,A,4.1,NaN
1,AUS,2017,HOSPITALSTAY,CHILDBIRTH,DAY,A,2.6,NaN
2,AUT,2018,HOSPITALSTAY,ACUTE,DAY,A,6.3,NaN
3,AUT,2018,HOSPITALSTAY,CHILDBIRTH,DAY,A,3.6,NaN
4,BEL,2018,HOSPITALSTAY,ACUTE,DAY,A,6.6,NaN
...,...,...,...,...,...,...,...,...
60,SWE,2018,HOSPITALSTAY,ACUTE,DAY,A,5.5,NaN
61,SWE,2018,HOSPITALSTAY,CHILDBIRTH,DAY,A,2.3,NaN
62,TUR,2018,HOSPITALSTAY,ACUTE,DAY,A,4.1,NaN
63,TUR,2018,HOSPITALSTAY,CHILDBIRTH,DAY,A,2.3,NaN
64,USA,2017,HOSPITALSTAY,ACUTE,DAY,A,5.5,NaN

In [14]:
hospital_stay_data = hos_stay_table[hos_stay_table["SUBJECT"]=="ACUTE"].reset_index().drop(["index","Flag Codes"], axis=1)

In [15]:
hospital_stay_data

   LOCATION  TIME     INDICATOR SUBJECT MEASURE FREQUENCY  Value
0       AUS  2017  HOSPITALSTAY   ACUTE     DAY         A    4.1
1       AUT  2018  HOSPITALSTAY   ACUTE     DAY         A    6.3
2       BEL  2018  HOSPITALSTAY   ACUTE     DAY         A    6.6
3       CAN  2018  HOSPITALSTAY   ACUTE     DAY         A    7.5
4       CHE  2018  HOSPITALSTAY   ACUTE     DAY         A    6.9
5       CRI  2019  HOSPITALSTAY   ACUTE     DAY         A    6.6
6       CZE  2018  HOSPITALSTAY   ACUTE     DAY         A    5.8
7       DEU  2017  HOSPITALSTAY   ACUTE     DAY         A    7.5
8       DNK  2005  HOSPITALSTAY   ACUTE     DAY         A    3.5
9       ESP  2018  HOSPITALSTAY   ACUTE     DAY         A    6.0
10      EST  2018  HOSPITALSTAY   ACUTE     DAY         A    6.1
11      FIN  2018  HOSPITALSTAY   ACUTE     DAY         A    6.4
12      FRA  2018  HOSPITALSTAY   ACUTE     DAY         A    5.4
13      GBR  2018  HOSPITALSTAY   ACUTE     DAY         A    5.9
14      GRC  2014  HOSPITALSTAY   ACUTE     DAY         A    5.6
15      HUN  2018  HOSPITALSTAY   ACUTE     DAY         A    5.4
16      IRL  2018  HOSPITALSTAY   ACUTE     DAY         A    5.9
17      ISL  2018  HOSPITALSTAY   ACUTE     DAY         A    5.6
18      ISR  2018  HOSPITALSTAY   ACUTE     DAY         A    5.0
19      ITA  2018  HOSPITALSTAY   ACUTE     DAY         A    7.0
20      JPN  2018  HOSPITALSTAY   ACUTE     DAY         A   16.1
21      KOR  2018  HOSPITALSTAY   ACUTE     DAY         A    7.5
22      LTU  2018  HOSPITALSTAY   ACUTE     DAY         A    6.5
23      LUX  2018  HOSPITALSTAY   ACUTE     DAY         A    7.6
24      LVA  2018  HOSPITALSTAY   ACUTE     DAY         A    6.0
25      NLD  2018  HOSPITALSTAY   ACUTE     DAY         A    5.1
26      NOR  2018  HOSPITALSTAY   ACUTE     DAY         A    6.0
27      NZL  2017  HOSPITALSTAY   ACUTE     DAY         A    5.0
28      POL  2018  HOSPITALSTAY   ACUTE     DAY         A    6.5
29      PRT  2018  HOSPITALSTAY   ACUTE     DAY         A    9.0
30      RUS  2018  HOSPITALSTAY   ACUTE     DAY         A    9.1
31      SVK  2018  HOSPITALSTAY   ACUTE     DAY         A    6.7
32      SVN  2018  HOSPITALSTAY   ACUTE     DAY         A    6.7
33      SWE  2018  HOSPITALSTAY   ACUTE     DAY         A    5.5
34      TUR  2018  HOSPITALSTAY   ACUTE     DAY         A    4.1
35      USA  2017  HOSPITALSTAY   ACUTE     DAY         A    5.5

In [16]:
life_expectancy =  pd.read_csv("resources\life_expectancy.csv")

In [17]:
life_span_table = pd.merge(life_expectancy[["LOCATION","TIME"]].groupby("LOCATION").max().reset_index(),life_expectancy, how="left", left_on=["LOCATION","TIME"], right_on=["LOCATION","TIME"])

In [18]:
life_expectancy_data = life_span_table[life_span_table["SUBJECT"]=="TOT"].reset_index().drop(["index","Flag Codes"], axis=1)

In [19]:
life_expectancy_data

   LOCATION  TIME INDICATOR SUBJECT MEASURE FREQUENCY  Value
0       AUS  2018   LIFEEXP     TOT      YR         A   82.8
1       AUT  2018   LIFEEXP     TOT      YR         A   81.8
2       BEL  2018   LIFEEXP     TOT      YR         A   81.7
3       BRA  2018   LIFEEXP     TOT      YR         A   75.7
4       CAN  2018   LIFEEXP     TOT      YR         A   82.0
5       CHE  2018   LIFEEXP     TOT      YR         A   83.8
6       CHL  2019   LIFEEXP     TOT      YR         A   80.6
7       CHN  2018   LIFEEXP     TOT      YR         A   76.8
8       COL  2018   LIFEEXP     TOT      YR         A   77.1
9       CRI  2018   LIFEEXP     TOT      YR         A   80.4
10      CZE  2018   LIFEEXP     TOT      YR         A   79.1
11      DEU  2018   LIFEEXP     TOT      YR         A   81.0
12      DNK  2018   LIFEEXP     TOT      YR         A   81.0
13      ESP  2018   LIFEEXP     TOT      YR         A   83.5
14      EST  2018   LIFEEXP     TOT      YR         A   78.4
15      FIN  2018   LIFEEXP     TOT      YR         A   81.8
16      FRA  2018   LIFEEXP     TOT      YR         A   82.8
17      GBR  2018   LIFEEXP     TOT      YR         A   81.3
18      GRC  2018   LIFEEXP     TOT      YR         A   81.9
19      HUN  2018   LIFEEXP     TOT      YR         A   76.2
20      IDN  2018   LIFEEXP     TOT      YR         A   71.6
21      IND  2018   LIFEEXP     TOT      YR         A   69.5
22      IRL  2018   LIFEEXP     TOT      YR         A   82.3
23      ISL  2018   LIFEEXP     TOT      YR         A   82.9
24      ISR  2018   LIFEEXP     TOT      YR         A   82.9
25      ITA  2018   LIFEEXP     TOT      YR         A   83.4
26      JPN  2017   LIFEEXP     TOT      YR         A   84.2
27      KOR  2018   LIFEEXP     TOT      YR         A   82.7
28      LTU  2018   LIFEEXP     TOT      YR         A   75.8
29      LUX  2018   LIFEEXP     TOT      YR         A   82.4
30      LVA  2018   LIFEEXP     TOT      YR         A   74.9
31      MEX  2018   LIFEEXP     TOT      YR         A   75.0
32      NLD  2018   LIFEEXP     TOT      YR         A   81.9
33      NOR  2018   LIFEEXP     TOT      YR         A   82.8
34      NZL  2018   LIFEEXP     TOT      YR         A   81.8
35      POL  2018   LIFEEXP     TOT      YR         A   77.7
36      PRT  2018   LIFEEXP     TOT      YR         A   81.4
37      RUS  2018   LIFEEXP     TOT      YR         A   72.8
38      SVK  2018   LIFEEXP     TOT      YR         A   77.4
39      SVN  2018   LIFEEXP     TOT      YR         A   81.5
40      SWE  2018   LIFEEXP     TOT      YR         A   82.6
41      TUR  2018   LIFEEXP     TOT      YR         A   78.3
42      USA  2018   LIFEEXP     TOT      YR         A   78.7
43      ZAF  2018   LIFEEXP     TOT      YR         A   63.9

In [20]:
unemployment =  pd.read_csv("resources\longterm_unemployment.csv")
unemployment_table = pd.merge(unemployment[["LOCATION","TIME"]].groupby("LOCATION").max().reset_index(),unemployment, how="left", left_on=["LOCATION","TIME"], right_on=["LOCATION","TIME"])
unemployment_data = unemployment_table[unemployment_table["SUBJECT"]=="TOT"].reset_index().drop(["index","Flag Codes"], axis=1)
unemployment_data

   LOCATION  TIME INDICATOR SUBJECT   MEASURE FREQUENCY      Value
0       AUS  2019   LTUNEMP     TOT  PC_UNEMP         A  23.924577
1       AUT  2019   LTUNEMP     TOT  PC_UNEMP         A  25.132840
2       BEL  2019   LTUNEMP     TOT  PC_UNEMP         A  43.510715
3       BGR  2019   LTUNEMP     TOT  PC_UNEMP         A  56.553442
4       CAN  2019   LTUNEMP     TOT  PC_UNEMP         A   8.490044
5       CHE  2019   LTUNEMP     TOT  PC_UNEMP         A  37.817027
6       COL  2019   LTUNEMP     TOT  PC_UNEMP         A  11.531434
7       CRI  2019   LTUNEMP     TOT  PC_UNEMP         A  12.851924
8       CYP  2019   LTUNEMP     TOT  PC_UNEMP         A  29.096870
9       CZE  2019   LTUNEMP     TOT  PC_UNEMP         A  30.262627
10      DEU  2019   LTUNEMP     TOT  PC_UNEMP         A  38.133482
11      DNK  2019   LTUNEMP     TOT  PC_UNEMP         A  16.613746
12      ESP  2019   LTUNEMP     TOT  PC_UNEMP         A  37.831852
13      EST  2019   LTUNEMP     TOT  PC_UNEMP         A  19.989121
14     EU28  2019   LTUNEMP     TOT  PC_UNEMP         A  40.373173
15      FIN  2019   LTUNEMP     TOT  PC_UNEMP         A  18.488180
16      FRA  2019   LTUNEMP     TOT  PC_UNEMP         A  38.833127
17      G7M  2019   LTUNEMP     TOT  PC_UNEMP         A  28.181785
18      GBR  2019   LTUNEMP     TOT  PC_UNEMP         A  25.068089
19      GRC  2019   LTUNEMP     TOT  PC_UNEMP         A  70.138582
20      HRV  2019   LTUNEMP     TOT  PC_UNEMP         A  35.847788
21      HUN  2019   LTUNEMP     TOT  PC_UNEMP         A  32.848378
22      IRL  2019   LTUNEMP     TOT  PC_UNEMP         A  33.276282
23      ISL  2019   LTUNEMP     TOT  PC_UNEMP         A   7.075328
24      ISR  2019   LTUNEMP     TOT  PC_UNEMP         A   5.712245
25      ITA  2019   LTUNEMP     TOT  PC_UNEMP         A  57.023943
26      JPN  2019   LTUNEMP     TOT  PC_UNEMP         A  32.298137
27      KOR  2019   LTUNEMP     TOT  PC_UNEMP         A   0.911997
28      LTU  2019   LTUNEMP     TOT  PC_UNEMP         A  30.630811
29      LUX  2019   LTUNEMP     TOT  PC_UNEMP         A  22.774902
30      LVA  2019   LTUNEMP     TOT  PC_UNEMP         A  38.179585
31      MEX  2019   LTUNEMP     TOT  PC_UNEMP         A   1.739973
32      MKD  2019   LTUNEMP     TOT  PC_UNEMP         A  71.749757
33      MLT  2019   LTUNEMP     TOT  PC_UNEMP         A  33.178713
34      NAM  2019   LTUNEMP     TOT  PC_UNEMP         A   9.914180
35      NLD  2019   LTUNEMP     TOT  PC_UNEMP         A  31.365310
36      NOR  2019   LTUNEMP     TOT  PC_UNEMP         A  24.134181
37      NZL  2019   LTUNEMP     TOT  PC_UNEMP         A  12.569316
38     OECD  2019   LTUNEMP     TOT  PC_UNEMP         A  25.837619
39      POL  2019   LTUNEMP     TOT  PC_UNEMP         A  21.557168
40      PRT  2019   LTUNEMP     TOT  PC_UNEMP         A  42.608197
41      ROU  2019   LTUNEMP     TOT  PC_UNEMP         A  42.442825
42      RUS  2019   LTUNEMP     TOT  PC_UNEMP         A  23.766047
43      SVK  2019   LTUNEMP     TOT  PC_UNEMP         A  54.958033
44      SVN  2019   LTUNEMP     TOT  PC_UNEMP         A  42.959870
45      SWE  2019   LTUNEMP     TOT  PC_UNEMP         A  12.108472
46      TUR  2019   LTUNEMP     TOT  PC_UNEMP         A  23.478066
47      USA  2019   LTUNEMP     TOT  PC_UNEMP         A  12.697884
48      ZAF  2019   LTUNEMP     TOT  PC_UNEMP         A  64.805163

In [21]:
obesity =  pd.read_csv("resources\over_obestity_rate.csv")
obesity_table = pd.merge(obesity[["LOCATION","TIME"]].groupby("LOCATION").max().reset_index(),obesity, how="left", left_on=["LOCATION","TIME"], right_on=["LOCATION","TIME"])
obesity_data = obesity_table.reset_index().drop(["index","Flag Codes"], axis=1)
# average of measured data and selt reported data
obesity_data = obesity_data.groupby("LOCATION").mean().reset_index()
obesity_data

   LOCATION  TIME  Value
0       AUS  2017  56.40
1       AUT  2014  46.70
2       BEL  2018  52.35
3       CAN  2018  53.80
4       CHE  2017  41.80
5       CHL  2016  74.20
6       CZE  2014  55.40
7       DEU  2017  52.70
8       DNK  2017  51.00
9       ESP  2017  53.00
10      EST  2018  50.70
11      FIN  2019  57.00
12      FRA  2015  49.00
13      GBR  2018  63.30
14      GRC  2017  55.00
15      HUN  2014  58.40
16      IDN  2014  25.00
17      IRL  2019  61.00
18      ISL  2017  65.40
19      ISR  2017  50.10
20      ITA  2018  46.10
21      JPN  2018  26.70
22      KOR  2018  32.45
23      LTU  2014  53.30
24      LUX  2014  53.05
25      LVA  2018  58.70
26      MEX  2018  75.20
27      NLD  2018  48.50
28      NOR  2015  46.00
29      NZL  2019  65.10
30      POL  2014  53.30
31      PRT  2015  67.60
32      RUS  2005  47.70
33      SVK  2014  54.20
34      SVN  2014  55.60
35      SWE  2018  49.90
36      TUR  2017  64.40
37      USA  2018  66.20

In [22]:
transportation =  pd.read_csv("resources\passanger_transportation.csv")
transportation_table = pd.merge(transportation[transportation["SUBJECT"]=="RAIL"][["LOCATION","TIME"]].groupby("LOCATION").max().reset_index(),transportation, how="left", left_on=["LOCATION","TIME"], right_on=["LOCATION","TIME"])

In [23]:
transportation_data = transportation_table[transportation_table["SUBJECT"]=="RAIL"].reset_index().drop(["index","Flag Codes"], axis=1)
transportation_data

   LOCATION  TIME   INDICATOR SUBJECT  MEASURE FREQUENCY         Value
0       ALB  2019  PASSTRANSP    RAIL  MLN_PKM         A  2.000000e+00
1       ARG  2017  PASSTRANSP    RAIL  MLN_PKM         A  8.360782e+03
2       ARM  2017  PASSTRANSP    RAIL  MLN_PKM         A  5.500000e+01
3       AUS  2018  PASSTRANSP    RAIL  MLN_PKM         A  1.758595e+04
4       AUT  2019  PASSTRANSP    RAIL  MLN_PKM         A  1.335000e+04
5       AZE  2019  PASSTRANSP    RAIL  MLN_PKM         A  5.440000e+02
6       BEL  2017  PASSTRANSP    RAIL  MLN_PKM         A  1.016700e+04
7       BGR  2019  PASSTRANSP    RAIL  MLN_PKM         A  1.523800e+03
8       BIH  2017  PASSTRANSP    RAIL  MLN_PKM         A  3.000000e+01
9       BLR  2019  PASSTRANSP    RAIL  MLN_PKM         A  6.274000e+03
10      CAN  2018  PASSTRANSP    RAIL  MLN_PKM         A  1.685000e+03
11      CHE  2019  PASSTRANSP    RAIL  MLN_PKM         A  2.173700e+04
12      CHL  2019  PASSTRANSP    RAIL  MLN_PKM         A  7.210000e+02
13      CHN  2018  PASSTRANSP    RAIL  MLN_PKM         A  1.414660e+06
14      CZE  2019  PASSTRANSP    RAIL  MLN_PKM         A  1.093062e+04
15      DEU  2018  PASSTRANSP    RAIL  MLN_PKM         A  9.816100e+04
16      DNK  2016  PASSTRANSP    RAIL  MLN_PKM         A  6.653000e+03
17      ESP  2018  PASSTRANSP    RAIL  MLN_PKM         A  2.843400e+04
18      EST  2019  PASSTRANSP    RAIL  MLN_PKM         A  3.920000e+02
19      FIN  2019  PASSTRANSP    RAIL  MLN_PKM         A  4.924000e+03
20      FRA  2019  PASSTRANSP    RAIL  MLN_PKM         A  1.126140e+05
21      GBR  2018  PASSTRANSP    RAIL  MLN_PKM         A  8.052638e+04
22      GEO  2019  PASSTRANSP    RAIL  MLN_PKM         A  6.747000e+02
23      GRC  2019  PASSTRANSP    RAIL  MLN_PKM         A  1.252000e+03
24      HRV  2019  PASSTRANSP    RAIL  MLN_PKM         A  7.340000e+02
25      HUN  2019  PASSTRANSP    RAIL  MLN_PKM         A  7.751606e+03
26      IND  2017  PASSTRANSP    RAIL  MLN_PKM         A  1.161333e+06
27      IRL  2019  PASSTRANSP    RAIL  MLN_PKM         A  2.399000e+03
28      ISL  2019  PASSTRANSP    RAIL  MLN_PKM         A           NaN
29      ISR  2019  PASSTRANSP    RAIL  MLN_PKM         A  3.579900e+03
30      ITA  2019  PASSTRANSP    RAIL  MLN_PKM         A  5.658600e+04
31      JPN  2018  PASSTRANSP    RAIL  MLN_PKM         A  4.416140e+05
32      KOR  2019  PASSTRANSP    RAIL  MLN_PKM         A  9.388700e+04
33      LIE  2018  PASSTRANSP    RAIL  MLN_PKM         A           NaN
34      LTU  2019  PASSTRANSP    RAIL  MLN_PKM         A  4.790000e+02
35      LUX  2019  PASSTRANSP    RAIL  MLN_PKM         A  4.630000e+02
36      LVA  2019  PASSTRANSP    RAIL  MLN_PKM         A  6.430000e+02
37      MAR  2017  PASSTRANSP    RAIL  MLN_PKM         A  4.923000e+03
38      MDA  2019  PASSTRANSP    RAIL  MLN_PKM         A  7.410000e+01
39      MEX  2019  PASSTRANSP    RAIL  MLN_PKM         A  1.571000e+03
40      MKD  2019  PASSTRANSP    RAIL  MLN_PKM         A  6.200000e+01
41      MLT  2017  PASSTRANSP    RAIL  MLN_PKM         A           NaN
42      MNE  2017  PASSTRANSP    RAIL  MLN_PKM         A  6.000000e+01
43      NLD  2018  PASSTRANSP    RAIL  MLN_PKM         A  2.260000e+04
44      NOR  2019  PASSTRANSP    RAIL  MLN_PKM         A  3.715000e+03
45      NZL  1998  PASSTRANSP    RAIL  MLN_PKM         A  3.210000e+02
46      POL  2019  PASSTRANSP    RAIL  MLN_PKM         A  2.205600e+04
47      PRT  2019  PASSTRANSP    RAIL  MLN_PKM         A  4.964014e+03
48      ROU  2019  PASSTRANSP    RAIL  MLN_PKM         A  5.906000e+03
49      RUS  2019  PASSTRANSP    RAIL  MLN_PKM         A  1.335890e+05
50      SRB  2019  PASSTRANSP    RAIL  MLN_PKM         A  2.850000e+02
51      SVK  2019  PASSTRANSP    RAIL  MLN_PKM         A  4.093000e+03
52      SVN  2019  PASSTRANSP    RAIL  MLN_PKM         A  6.980000e+02
53      SWE  2019  PASSTRANSP    RAIL  MLN_PKM         A  1.461721e+04
54      TUR  2019  PASSTRANSP    RAIL  MLN_PKM         A  1.425900e+04
55      UKR  2019  PASSTRANSP    RAIL  MLN_PKM         A  2.841300e+04
56      USA  2019  PASSTRANSP    RAIL  MLN_PKM         A  3.248300e+04

In [24]:
poverty = pd.read_csv("resources/poverty_rate.csv")

In [25]:
poverty_table = pd.merge(poverty[poverty["SUBJECT"]=="TOT"][["LOCATION","TIME"]].groupby("LOCATION").max().reset_index(),poverty[poverty["SUBJECT"]=="TOT"], how="left",left_on=["LOCATION","TIME"], right_on=["LOCATION","TIME"])

In [26]:
poverty_data = poverty_table.reset_index().drop(["index","Flag Codes"], axis=1)
poverty_data

   LOCATION  TIME INDICATOR SUBJECT MEASURE FREQUENCY  Value
0       AUS  2018   POVERTY     TOT      RT         A  0.124
1       AUT  2017   POVERTY     TOT      RT         A  0.094
2       BEL  2017   POVERTY     TOT      RT         A  0.101
3       BGR  2017   POVERTY     TOT      RT         A  0.162
4       BRA  2013   POVERTY     TOT      RT         A  0.200
5       CAN  2017   POVERTY     TOT      RT         A  0.121
6       CHE  2017   POVERTY     TOT      RT         A  0.092
7       CHL  2017   POVERTY     TOT      RT         A  0.165
8       CHN  2011   POVERTY     TOT      RT         A  0.288
9       CRI  2019   POVERTY     TOT      RT         A  0.199
10      CZE  2017   POVERTY     TOT      RT         A  0.056
11      DEU  2017   POVERTY     TOT      RT         A  0.104
12      DNK  2016   POVERTY     TOT      RT         A  0.058
13      ESP  2017   POVERTY     TOT      RT         A  0.148
14      EST  2017   POVERTY     TOT      RT         A  0.158
15      FIN  2018   POVERTY     TOT      RT         A  0.065
16      FRA  2017   POVERTY     TOT      RT         A  0.081
17      GBR  2018   POVERTY     TOT      RT         A  0.117
18      GRC  2017   POVERTY     TOT      RT         A  0.126
19      HUN  2017   POVERTY     TOT      RT         A  0.080
20      IND  2011   POVERTY     TOT      RT         A  0.197
21      IRL  2017   POVERTY     TOT      RT         A  0.090
22      ISL  2015   POVERTY     TOT      RT         A  0.054
23      ISR  2018   POVERTY     TOT      RT         A  0.169
24      ITA  2017   POVERTY     TOT      RT         A  0.139
25      JPN  2015   POVERTY     TOT      RT         A  0.157
26      KOR  2017   POVERTY     TOT      RT         A  0.174
27      LTU  2017   POVERTY     TOT      RT         A  0.173
28      LUX  2017   POVERTY     TOT      RT         A  0.122
29      LVA  2017   POVERTY     TOT      RT         A  0.166
30      MEX  2016   POVERTY     TOT      RT         A  0.166
31      NLD  2016   POVERTY     TOT      RT         A  0.083
32      NOR  2018   POVERTY     TOT      RT         A  0.084
33      NZL  2014   POVERTY     TOT      RT         A  0.109
34      POL  2017   POVERTY     TOT      RT         A  0.096
35      PRT  2017   POVERTY     TOT      RT         A  0.107
36      ROU  2017   POVERTY     TOT      RT         A  0.179
37      RUS  2016   POVERTY     TOT      RT         A  0.127
38      SVK  2017   POVERTY     TOT      RT         A  0.073
39      SVN  2017   POVERTY     TOT      RT         A  0.085
40      SWE  2018   POVERTY     TOT      RT         A  0.089
41      TUR  2015   POVERTY     TOT      RT         A  0.172
42      USA  2017   POVERTY     TOT      RT         A  0.178
43      ZAF  2015   POVERTY     TOT      RT         A  0.266

In [27]:
science =  pd.read_csv("resources/science_performance.csv")

In [28]:
science_table = pd.merge(science[science["SUBJECT"]=="TOT"][["LOCATION","TIME"]].groupby("LOCATION").max().reset_index(),science[science["SUBJECT"]=="TOT"], how="left",left_on=["LOCATION","TIME"], right_on=["LOCATION","TIME"])

In [29]:
science_data = science_table.reset_index().drop(["index","Flag Codes"], axis=1)
science_data

   LOCATION  TIME    INDICATOR SUBJECT    MEASURE FREQUENCY  Value
0       AUS  2018  PISASCIENCE     TOT  MEANSCORE         A  503.0
1       AUT  2018  PISASCIENCE     TOT  MEANSCORE         A  490.0
2       BEL  2018  PISASCIENCE     TOT  MEANSCORE         A  499.0
3       BRA  2018  PISASCIENCE     TOT  MEANSCORE         A  404.0
4       CAN  2018  PISASCIENCE     TOT  MEANSCORE         A  518.0
5       CHE  2018  PISASCIENCE     TOT  MEANSCORE         A  495.0
6       CHL  2018  PISASCIENCE     TOT  MEANSCORE         A  444.0
7       COL  2018  PISASCIENCE     TOT  MEANSCORE         A  413.0
8       CRI  2018  PISASCIENCE     TOT  MEANSCORE         A  416.0
9       CZE  2018  PISASCIENCE     TOT  MEANSCORE         A  497.0
10      DEU  2018  PISASCIENCE     TOT  MEANSCORE         A  503.0
11      DNK  2018  PISASCIENCE     TOT  MEANSCORE         A  493.0
12      ESP  2018  PISASCIENCE     TOT  MEANSCORE         A  483.0
13      EST  2018  PISASCIENCE     TOT  MEANSCORE         A  530.0
14      FIN  2018  PISASCIENCE     TOT  MEANSCORE         A  522.0
15      FRA  2018  PISASCIENCE     TOT  MEANSCORE         A  493.0
16      GBR  2018  PISASCIENCE     TOT  MEANSCORE         A  505.0
17      GRC  2018  PISASCIENCE     TOT  MEANSCORE         A  452.0
18      HKG  2015  PISASCIENCE     TOT  MEANSCORE         A  523.0
19      HUN  2018  PISASCIENCE     TOT  MEANSCORE         A  481.0
20      IDN  2018  PISASCIENCE     TOT  MEANSCORE         A  396.0
21      IRL  2018  PISASCIENCE     TOT  MEANSCORE         A  496.0
22      ISL  2018  PISASCIENCE     TOT  MEANSCORE         A  475.0
23      ISR  2018  PISASCIENCE     TOT  MEANSCORE         A  462.0
24      ITA  2018  PISASCIENCE     TOT  MEANSCORE         A  468.0
25      JPN  2018  PISASCIENCE     TOT  MEANSCORE         A  529.0
26      KOR  2018  PISASCIENCE     TOT  MEANSCORE         A  519.0
27      LTU  2018  PISASCIENCE     TOT  MEANSCORE         A  482.0
28      LUX  2018  PISASCIENCE     TOT  MEANSCORE         A  477.0
29      LVA  2018  PISASCIENCE     TOT  MEANSCORE         A  487.0
30      MAC  2015  PISASCIENCE     TOT  MEANSCORE         A  529.0
31      MEX  2018  PISASCIENCE     TOT  MEANSCORE         A  419.0
32      NLD  2018  PISASCIENCE     TOT  MEANSCORE         A  503.0
33      NOR  2018  PISASCIENCE     TOT  MEANSCORE         A  490.0
34      NZL  2018  PISASCIENCE     TOT  MEANSCORE         A  508.0
35     OAVG  2018  PISASCIENCE     TOT  MEANSCORE         A  489.0
36      PER  2015  PISASCIENCE     TOT  MEANSCORE         A  397.0
37      POL  2018  PISASCIENCE     TOT  MEANSCORE         A  511.0
38      PRT  2018  PISASCIENCE     TOT  MEANSCORE         A  492.0
39      RUS  2018  PISASCIENCE     TOT  MEANSCORE         A  478.0
40      SGP  2015  PISASCIENCE     TOT  MEANSCORE         A  556.0
41      SVK  2018  PISASCIENCE     TOT  MEANSCORE         A  464.0
42      SVN  2018  PISASCIENCE     TOT  MEANSCORE         A  507.0
43      SWE  2018  PISASCIENCE     TOT  MEANSCORE         A  499.0
44      TUR  2018  PISASCIENCE     TOT  MEANSCORE         A  468.0
45      TWN  2015  PISASCIENCE     TOT  MEANSCORE         A  532.0
46      USA  2018  PISASCIENCE     TOT  MEANSCORE         A  502.0

In [68]:
country_code = pd.read_csv("resources/country_code.csv")

In [69]:
country_code = country_code.reset_index()

In [209]:
country_code

     index  CODE       Country
0        0   ABW         Aruba
1        1   AFG   Afghanistan
2        2  AFRI        Africa
3        3   AGO        Angola
4        4   AIA      Anguilla
..     ...   ...           ...
229    229   WSM         Samoa
230    230   YEM         Yemen
231    231   ZAF  South Africa
232    232   ZMB        Zambia
233    233   ZWE      Zimbabwe

[234 rows x 3 columns]

In [70]:
all_data = [health_spending_data, hospital_bed_data, hospital_stay_data, life_expectancy_data, unemployment_data, obesity_data, transportation_data, poverty_data, science_data]

In [71]:
import os
from sqlalchemy import create_engine
from sqlalchemy.orm import scoped_session, sessionmaker

In [72]:
from config import password

In [73]:
import os 
from sqlalchemy import create_engine
uri = f'postgres://bhcqrylxawjzad:{password}@ec2-23-23-36-227.compute-1.amazonaws.com:5432/dbl9qokmprccs0'
engine = create_engine(uri)

In [74]:
country_code.to_sql("country_name", con=engine,if_exists='replace',index=True)

In [75]:
health_spending_db = pd.merge(health_spending_data.dropna(),country_code, how="inner", left_on=["LOCATION"], right_on=["CODE"])[["index","TIME","MEASURE","Value"]]

In [76]:
health_spending_db.columns = ["country_id","Time","Measure","Health_Spending"]

In [78]:
health_spending_db.to_sql("health_spending",con=engine,if_exists='replace',index=False)

In [79]:
hospital_bed_db = pd.merge(hospital_bed_data.dropna(),country_code, how="inner", left_on=["LOCATION"], right_on=["CODE"])[["index","TIME","MEASURE","Value"]]

In [80]:
hospital_bed_db.columns = ["country_id","Time","Measure","Hospital_bed"]

In [81]:
hospital_bed_db.to_sql("hospital_bed",con=engine,if_exists='replace',index=False)

In [82]:
hospital_stay_db = pd.merge(hospital_stay_data.dropna(),country_code, how="inner", left_on=["LOCATION"], right_on=["CODE"])[["index","TIME","MEASURE","Value"]]
hospital_stay_db.columns = ["country_id","Time","Measure","Hospital_stay"]

In [86]:
hospital_stay_db.to_sql("hospital_stay",con=engine,if_exists='replace',index=False)

In [88]:
life_expectancy_db = pd.merge(life_expectancy_data.dropna(),country_code, how="inner", left_on=["LOCATION"], right_on=["CODE"])[["index","TIME","MEASURE","Value"]]
life_expectancy_db.columns = ["country_id","Time","Measure","Life_expectancy"]

In [90]:
life_expectancy_db.to_sql("life_expectancy",con=engine,if_exists='replace',index=False)

In [94]:
unemployment_db = pd.merge(unemployment_data.dropna(),country_code, how="inner", left_on=["LOCATION"], right_on=["CODE"])[["index","TIME","MEASURE","Value"]]
unemployment_db.columns = ["country_id","Time","Measure","Unemployment_rate"]

In [95]:
unemployment_db.to_sql("unemployment",con=engine,if_exists='replace',index=False)

In [97]:
obesity_db = pd.merge(obesity_data.dropna(),country_code, how="inner", left_on=["LOCATION"], right_on=["CODE"])[["index","TIME","Value"]]
obesity_db.columns = ["country_id","Time","Obesity_rate"]

In [99]:
obesity_db.to_sql("obesity",con=engine,if_exists='replace',index=False)

In [100]:
transportation_db =pd.merge(transportation_data.dropna(),country_code, how="inner", left_on=["LOCATION"], right_on=["CODE"])[["index","TIME","MEASURE","Value"]]
transportation_db.columns = ["country_id","Time","Measure","transporation"]

In [102]:
transportation_db.to_sql("transporation",con=engine,if_exists='replace',index=False)

In [296]:
poverty_db =pd.merge(poverty_data.dropna(),country_code, how="inner", left_on=["LOCATION"], right_on=["CODE"])[["index","TIME","MEASURE","Value"]]
poverty_db.columns = ["country_id","Time","Measure","poverty_rate"]
poverty_db["poverty_rate"] =  poverty_db["poverty_rate"] * 100

In [297]:
poverty_db.to_sql("poverty",con=engine,if_exists='replace',index=False)

In [108]:
science_db =pd.merge(science_data.dropna(),country_code, how="inner", left_on=["LOCATION"], right_on=["CODE"])[["index","TIME","MEASURE","Value"]]
science_db.columns = ["country_id","Time","Measure","science_score"]

In [111]:
science_db.to_sql("Science_score",con=engine,if_exists='replace',index=False)

In [112]:
# Get Covid Data

In [273]:
from config import key

ImportError: cannot import name 'key' from 'config' (C:\Users\khiro\final-project\config.py)

In [137]:
import requests
import io
import json
url = "https://covid-19-data.p.rapidapi.com/help/countries"

headers = {
    'x-rapidapi-key': key,
    'x-rapidapi-host': "covid-19-data.p.rapidapi.com"
    }

response = requests.request("GET", url, headers=headers)

response_dict = json.loads(response.text)

In [128]:
name = []
code = []

for each in response_dict:
    name.append(each['name'])
    code.append(each['alpha3code'])

In [129]:
country_df_api = pd.DataFrame({"Country":name,"CODE":code})

In [132]:
country_df_api

               Country CODE
0          Afghanistan  AFG
1        Ã…land Islands  ALA
2              Albania  ALB
3              Algeria  DZA
4       American Samoa  ASM
..                 ...  ...
248  Wallis and Futuna  WLF
249     Western Sahara  ESH
250              Yemen  YEM
251             Zambia  ZMB
252           Zimbabwe  ZWE

[253 rows x 2 columns]

In [133]:
country_searchtable = pd.merge(country_code,country_df_api, how="left",)

In [134]:
country_searchtable

     index  CODE     Country_x     Country_y
0        0   ABW         Aruba         Aruba
1        1   AFG   Afghanistan   Afghanistan
2        2  AFRI        Africa           NaN
3        3   AGO        Angola        Angola
4        4   AIA      Anguilla      Anguilla
..     ...   ...           ...           ...
229    229   WSM         Samoa         Samoa
230    230   YEM         Yemen         Yemen
231    231   ZAF  South Africa  South Africa
232    232   ZMB        Zambia        Zambia
233    233   ZWE      Zimbabwe      Zimbabwe

[234 rows x 4 columns]

In [146]:
url = "https://covid-19-data.p.rapidapi.com/country/all"

querystring = {"format":"json"}

headers = {
    'x-rapidapi-key': key,
    'x-rapidapi-host': "covid-19-data.p.rapidapi.com"
    }

response_covid = requests.request("GET", url, headers=headers, params=querystring)

covid_dict = json.loads(response_covid.text)

In [ ]:
covid_dict

In [149]:
country = []
death = []
lon = []
lat = []

for each in covid_dict:
    country.append(each['country'])
    death.append(each["deaths"])
    lat.append(each["latitude"])
    lon.append(each["longitude"])

In [151]:
covid_df = pd.DataFrame({"Country":country,"Number of Death":death,"lat":lat,"lon":lon})

In [194]:
covid_df_bycode = pd.merge(covid_df,country_searchtable,how="left",left_on="Country",right_on="Country_y")

In [176]:
population_src = pd.read_csv("resources/WPP2019_TotalPopulationBySex.csv")

In [185]:
population = population_src[population_src.Variant == "Medium"][["LocID", "Location", "Time", "PopTotal"]]
population["PopTotal"] = (population["PopTotal"] * 1000).astype(int)
population = population[population["Time"]==2019]

In [186]:
locations_src = pd.read_excel('resources/WPP2019_F01_LOCATIONS.XLSX', sheet_name="DB")

In [187]:
location = locations_src[locations_src.LocType == 4][["LocID","ISO3_Code"]]

In [192]:
population_bycode = pd.merge(population,location,how="left",left_on=["LocID"], right_on=["LocID"])[["ISO3_Code","PopTotal"]].dropna()

In [193]:
population_bycode

    ISO3_Code  PopTotal
0         AFG  38041757
10        ALB   2880913
11        DZA  43053054
12        ASM     55312
14        AND     77146
..        ...       ...
465       WLF     11436
471       ESH    582458
474       YEM  29161922
475       ZMB  17861034
476       ZWE  14645473

[235 rows x 2 columns]

In [195]:
covid_pop_df = pd.merge(covid_df_bycode,population_bycode,how="left", left_on=["CODE"], right_on=["ISO3_Code"])

In [199]:
covid_pop_df = covid_pop_df.dropna()

In [203]:
covid_pop_df.to_csv("covid_pop.csv")

In [207]:
covid_pop_df[["CODE","Number of Death","PopTotal","lat","lon"]]

    CODE  Number of Death    PopTotal        lat         lon
0    AFG             1595  38041757.0  33.939110   67.709953
2    ALB              598   2880913.0  41.153332   20.168331
3    DZA             2111  43053054.0  28.033886    1.659626
4    ASM                0     55312.0 -14.270972 -170.132217
5    AND               75     77146.0  42.546245    1.601554
..   ...              ...         ...        ...         ...
247  VNM               35  96462108.0  14.058324  108.277199
249  ESH                1    582458.0  24.215527  -12.885834
250  YEM              605  29161922.0  15.552727   48.516388
251  ZMB              350  17861034.0 -13.133897   27.849332
252  ZWE              255  14645473.0 -19.015438   29.154857

[212 rows x 5 columns]

In [220]:
covid_db = pd.merge(covid_pop_df,country_code, how="inner", left_on=["CODE"], right_on=["CODE"])[["index_y","Number of Death","PopTotal","lat","lon"]]
covid_db.columns = ["country_id","Death","Population","lat","lon"]

In [221]:
covid_db["death/population"] = covid_db["Death"]/ covid_db["Population"]

In [222]:
covid_db

     country_id  Death  Population        lat         lon  death/population
0             1   1595  38041757.0  33.939110   67.709953      4.192761e-05
1             5    598   2880913.0  41.153332   20.168331      2.075731e-04
2            57   2111  43053054.0  28.033886    1.659626      4.903253e-05
3            11      0     55312.0 -14.270972 -170.132217      0.000000e+00
4             6     75     77146.0  42.546245    1.601554      9.721826e-04
..          ...    ...         ...        ...         ...               ...
207         227     35  96462108.0  14.058324  108.277199      3.628368e-07
208          61      1    582458.0  24.215527  -12.885834      1.716862e-06
209         230    605  29161922.0  15.552727   48.516388      2.074623e-05
210         232    350  17861034.0 -13.133897   27.849332      1.959573e-05
211         233    255  14645473.0 -19.015438   29.154857      1.741152e-05

[212 rows x 6 columns]

In [223]:
covid_db["death/population"].describe()

count    212.000000
mean       0.000158
std        0.000247
min        0.000000
25%        0.000006
50%        0.000042
75%        0.000201
max        0.001329
Name: death/population, dtype: float64

In [281]:
# Definition : IF death/population < 0.0001, it's successful

def successful(x):
    if x < 0.0001:
        return "successful"
    else:
        return "not successful"

In [282]:
covid_db["success"] = covid_db["death/population"].apply(successful)

In [283]:
covid_db

,country_id,Death,Population,lat,lon,death/population,success
0,1,1595,38041757.0,33.939110,67.709953,4.192761e-05,successful
1,5,598,2880913.0,41.153332,20.168331,2.075731e-04,not successful
2,57,2111,43053054.0,28.033886,1.659626,4.903253e-05,successful
3,11,0,55312.0,-14.270972,-170.132217,0.000000e+00,successful
4,6,75,77146.0,42.546245,1.601554,9.721826e-04,not successful
...,...,...,...,...,...,...,...
207,227,35,96462108.0,14.058324,108.277199,3.628368e-07,successful
208,61,1,582458.0,24.215527,-12.885834,1.716862e-06,successful
209,230,605,29161922.0,15.552727,48.516388,2.074623e-05,successful
210,232,350,17861034.0,-13.133897,27.849332,1.959573e-05,successful
211,233,255,14645473.0,-19.015438,29.154857,1.741152e-05,successful

In [284]:
covid_db.to_sql("covid_data",con=engine,if_exists='replace',index=False)

In [298]:
machine_df =  covid_db[["country_id","success"]].merge(health_spending_db, how="inner", right_on="country_id",left_on="country_id").drop(["Time","Measure"], axis=1)

In [299]:
machine_df  = machine_df.merge(hospital_bed_db, how="inner", right_on="country_id",left_on="country_id").drop(["Time","Measure"], axis=1)

In [300]:
machine_df = machine_df.merge(hospital_stay_db, how="inner", right_on="country_id",left_on="country_id").drop(["Time","Measure"], axis=1)

In [301]:
machine_df = machine_df.merge(life_expectancy_db, how="inner", right_on="country_id",left_on="country_id").drop(["Time","Measure"], axis=1)

In [302]:
machine_df = machine_df.merge(unemployment_db, how="inner", right_on="country_id",left_on="country_id").drop(["Time","Measure"], axis=1)

In [303]:
machine_df = machine_df.merge(obesity_db, how="inner", right_on="country_id",left_on="country_id").drop(["Time"], axis=1)

In [304]:
machine_df = machine_df.merge(transportation_db, how="inner", right_on="country_id",left_on="country_id").drop(["Time","Measure"], axis=1)

In [305]:
machine_df = machine_df.merge(poverty_db, how="inner", right_on="country_id",left_on="country_id").drop(["Time","Measure"], axis=1)

In [306]:
machine_df = machine_df.merge(science_db, how="inner", right_on="country_id",left_on="country_id").drop(["Time","Measure"], axis=1)

In [307]:
machine_df.to_csv("resources/data_for_ML.csv")

In [308]:
machine_df

,country_id,success,Health_Spending,Hospital_bed,Hospital_stay,Life_expectancy,Unemployment_rate,Obesity_rate,transporation,poverty_rate,science_score
0,13,successful,5187.419,3.84,4.1,82.8,23.924577,56.40,17585.947169,12.4,503.0
1,14,not successful,5851.055,7.27,6.3,81.8,25.132840,46.70,13350.000000,9.4,490.0
2,16,not successful,5427.957,5.58,6.6,81.7,43.510715,52.35,10167.000000,10.1,499.0
3,32,not successful,5418.383,2.52,7.5,82.0,8.490044,53.80,1685.000000,12.1,518.0
4,47,not successful,3426.039,6.62,5.8,79.1,30.262627,55.40,10930.618000,5.6,497.0
5,55,not successful,5567.899,2.60,3.5,81.0,16.613746,51.00,6653.000000,5.8,493.0
6,210,successful,2578.793,4.57,6.1,78.4,19.989121,50.70,392.000000,15.8,530.0
7,65,successful,4578.420,3.61,6.4,81.8,18.488180,57.00,4924.000000,6.5,522.0
8,68,not successful,5375.699,5.91,5.4,82.8,38.833127,49.00,112614.000000,8.1,493.0
9,52,not successful,6645.757,8.00,7.5,81.0,38.133482,52.70,98161.000000,10.4,503.0
10,84,successful,2383.628,4.20,5.6,81.9,70.138582,55.00,1252.000000,12.6,452.0
11,92,not successful,2222.426,7.01,5.4,76.2,32.848378,58.40,7751.606000,8.0,481.0
12,96,not successful,5275.543,2.97,5.9,82.3,33.276282,61.00,2399.000000,9.0,496.0
13,100,not successful,2932.461,2.98,5.0,82.9,5.712245,50.10,3579.900000,16.9,462.0
14,101,not successful,3649.206,3.14,7.0,83.4,57.023943,46.10,56586.000000,13.9,468.0
15,104,successful,4822.812,12.98,16.1,84.2,32.298137,26.70,441614.000000,15.7,529.0
16,215,successful,1972.572,5.49,6.0,74.9,38.179585,58.70,643.000000,16.6,487.0
17,214,successful,2638.133,6.43,6.5,75.8,30.630811,53.30,479.000000,17.3,482.0
18,121,not successful,5558.322,4.26,7.6,82.4,22.774902,53.05,463.000000,12.2,477.0
19,146,not successful,5765.098,3.17,5.1,81.9,31.365310,48.50,22600.000000,8.3,503.0
20,151,successful,4203.989,2.57,5.0,81.8,12.569316,65.10,321.000000,10.9,508.0
21,148,successful,6646.713,3.53,6.0,82.8,24.134181,46.00,3715.000000,8.4,490.0
22,162,not successful,2292.146,6.54,6.5,77.7,21.557168,53.30,22056.000000,9.6,511.0
23,164,not successful,3378.627,3.45,9.0,81.4,42.608197,67.60,4964.014000,10.7,492.0
24,217,not successful,1528.777,7.12,9.1,72.8,23.766047,47.70,133589.000000,12.7,478.0
25,48,successful,2353.645,5.70,6.7,77.4,54.958033,54.20,4093.000000,7.3,464.0
26,74,not successful,3224.020,4.43,6.7,81.5,42.959870,55.60,698.000000,8.5,507.0
27,62,not successful,3616.459,2.97,6.0,83.5,37.831852,53.00,28434.000000,14.8,483.0
28,184,not successful,5782.292,2.14,5.5,82.6,12.108472,49.90,14617.207234,8.9,499.0
29,34,not successful,7732.412,4.63,6.9,83.8,37.817027,41.80,21737.000000,9.2,495.0
30,198,not successful,1339.511,2.85,4.1,78.3,23.478066,64.40,14259.000000,17.2,468.0
31,77,not successful,4653.058,2.46,5.9,81.3,25.068089,63.30,80526.378370,11.7,505.0
32,205,not successful,11071.715,2.87,5.5,78.7,12.697884,66.20,32483.000000,17.8,502.0